* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #ab88ff;
}

/* ---------start -header----------------------------- */

.header {
    padding: 0px 10px;
    width: 100%;
    height: 80px;
    /* background-color: #ab88ff; */
}

.header img {
    width: 200px;
    margin-top: 10px;
    /* margin-left: 10px; */
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: right;
    /* margin-right: 30px; */
}

.header__menu--profile img {
    margin-right: 8px;
    width: 40px;
}

.header__menu ul {
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    /* display: none; */
    list-style: none;
    /* margin:  0px 0px 0px -14px; */
}