* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: 'Mulish', sans-serif;
    background-color: #8f57fd;
}

/* ---------start -header----------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    width: 100%;
    height: 80px;
    align-items: center;
    /* background-color: #ab88ff; */
}

.header img {
    width: 200px;
    margin-top: 10px;
    /* margin-left: 10px; */
}

.header__menu {
    text-align: right;
    /* margin-right: 30px; */
}

.header__menu--profile {
    margin-left: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p {
    margin: 0;
    color: white;
}

.header__menu ul {
    padding: 0;
    position: absolute;
    right: 14px;
    width: 100px;
    text-align: right;
    display: none; 
    list-style: none;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

/* ------------end header----------------- */

/* _________start main____________________ */

.main {
    height: 300px;
}

.main__title {
    padding: 20px;
    color: white;
    font-size: 2.5rem;
}

.input {
    padding: 0 20px;
    width: 70%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    font-size: 1.6rem;
    outline: none;
}

::placeholder {
    color: white;
}